.mr4 {
  margin-right: 4px;
}
.mr8 {
  margin-right: 8px;
}
.mr10 {
  margin-right: 10px;
}
.mr12 {
  margin-right: 12px;
}
.mr24 {
  margin-right: 24px;
}
.mr40 {
  margin-right: 40px;
}
.ml8 {
  margin-left: 8px;
}
.ml12 {
  margin-left: 12px;
}
.ml14 {
  margin-left: 14px;
}
.ml16 {
  margin-left: 16px;
}
.ml24 {
  margin-left: 24px;
}
.ml70 {
  margin-left: 70px;
}
.ml80 {
  margin-left: 80px;
}
.mt4 {
  margin-top: 4px;
}
.mt8 {
  margin-top: 8px;
}
.mt10 {
  margin-top: 10px;
}
.mt12 {
  margin-top: 12px;
}
.mt16 {
  margin-top: 16px;
}
.mt18 {
  margin-top: 18px;
}
.mt20 {
  margin-top: 20px;
}
.mt24 {
  margin-top: 24px;
}
.mt32 {
  margin-top: 32px;
}
.mt38 {
  margin-top: 38px;
}
.mt40 {
  margin-top: 40px;
}
.mb8 {
  margin-bottom: 8px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb14 {
  margin-bottom: 14px;
}
.mb16 {
  margin-bottom: 16px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb24 {
  margin-bottom: 24px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb38 {
  margin-bottom: 38px;
}
.mb40 {
  margin-bottom: 40px;
}
.pt16 {
  padding-top: 16px;
}
.pb50 {
  padding-bottom: 50px;
}
.fs12 {
  font-size: 12px;
}
.fs14 {
  font-size: 14px;
}
.fs16 {
  font-size: 16px;
}
.fs18 {
  font-size: 18px;
}
.fs20 {
  font-size: 20px;
}
.fw6 {
  font-weight: 600;
}
.lh18 {
  line-height: 18px;
}
.lh44 {
  line-height: 44px;
}
.gray {
  color: gray;
}
.light-gray {
  color: #969491;
}
.lighter-gray {
  color: #C9C7C5;
}
.black {
  color: black;
}
.orangered {
  color: #ff8057;
}
.lighter-orangered {
  color:#d17a17;
}
.red {
  color: red;
}
.lighter_red {
  color: rgb(245, 108, 108);
}
.green {
  color: green;
}
.button-blue {
  color: #409eff;
}
.w64 {
  width: 64px;
}
.w80 {
  width: 80px;
}
.w84 {
  width: 84px;
}
.w100 {
  width: 100px;
}
.w120 {
  width: 120px;
}
.w200 {
  width: 200px;
}
.w220 {
  width: 220px;
}
.w250 {
  width: 250px;
}
.w400 {
  width: 400px;
}
.w500 {
  width: 500px;
}
.w40b {
  width: 40%;
}
.w50b {
  width: 50%;
}
.w60b {
  width: 60%;
}
.breakall {
  word-break: break-all;
}
.text-left {
  text-align: left;
}
.inline-block {
  display: inline-block;
}
.identify-newlines {
  white-space: pre-line;
}
.pagination {
  float: right;
  margin: 24px 0;
}
.basic-container {
  padding: 100px 20px 50px;
  padding-top: 10px;
  padding-right: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  .el-card {
    width: 100%;
  }
  &:first-child {
    padding-top: 10px;
  }
}