/* --------- function-style --------- */

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.flex-start-c {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.flex-c-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-column-sb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.flex-column-sc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.flex-column-csb {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.flex-column-c {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-row {
  display: flex;
  align-items: center;
}

.flex-row-center {
  display: flex;
  align-items: center;
  width: 100%;
}

.flex-content-center {
  display: flex;
  justify-content: center;
  width: 100%;
}
.flex-content-center-wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-column-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.flex-column-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flex-left {
  display: flex;
  align-items: flex-start;
}

.flex-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-sa {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex-c {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-sb-start {
  display: flex;
  justify-content: space-between;
}

.flex-sb-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-sa-start {
  display: flex;
  justify-content: space-around;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-center-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flex-end-center {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.flex-end-sb {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.flex-end-start {
  display: flex;
  align-items: flex-end;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-nowrap {
  display: flex;
  flex-wrap: nowrap;
}
.flex-nowrap-center-sb {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-ellipsis_3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  cursor: pointer;
}
.text-ellipsis_2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  cursor: pointer;
}
.fit-parent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

